.header
{
    
}

.header-container
{
    padding: 10px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color:rgb(208, 227, 244);
    border-bottom: 3px solid #fff;
    
}
.selling-btn
{
    background: #eef1f3;
    margin-left:180px;
    border-radius: 10px;
    font-size: large;
}
:hover.selling-btn
{
    background: #d3ecef;
}
.mt-3
{
    display: inline-block;
    margin-top: 10px;
}

.search
{
    margin-left: 80px;
    outline: none;
    padding-left: 10px;
    width: 600px;
    
    height:44px;
    border:2px solid #002f34;
    border-radius: 4px 0px 0px 4px;
    background-color: #f0f5f7;
}
.search-btn{
    
    height: 44px;
    width: 60px;
    background: #002f34;
    color: #ffff;
    
    border-radius: 0px 4px 4px 0px;
    outline: none;
    border: 2px;
    
}

.logout-btn
{
    height: 35px;
    background: #002f34;
    color: #ffff;
    border-radius: 4px;
    outline: none;
    padding: 1px 16px;
    border: none;
    margin-right: 10px;
}
.category
{
    color: rgb(0, 47, 52 , 1);
    padding: 15px;
    cursor: pointer;
}
:hover.category{
    color: red;
}
.cat-container
{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 20px;
    background-color: aliceblue;
    
}
.userId
{
    width: 100%;
    color: black;
    background: #8fcdf6;
    border: 1px solid rgb(61, 171, 165);
}